{% extends 'base.html' %}

{% block title %} - Content tagged {{ tag.name }}{% endblock %}

{% block content %}

<div class="content-item">
    {% for item in items %}
    <div class="content-item">
        <h3 class="created-time">{{ item.created }}</h3>
        <a href="{{ item.get_absolute_url }}"><h2>{{ item.name }}</h2></a>
        {{ item.synopsis|truncatewords_html:50|safe }}
	<a href="{{ item.get_absolute_url }}">Read more</a>

    </div>
    {% empty %}
    <p>Coming soon.</p>
    {% endfor %}
</div>

{% endblock %}
