{% extends 'base.html' %}

{% block content %}
<h3>{{ item.created }}</h3>
<h1><a href="{{ item.url }}">{{ item.name }}</a></h1>

{% if item.projects.all|length > 0 %}
<ul class="content-projects">
    <li>Related to projects:</li>
    {% for project in item.projects.all %}
    <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{{ item.excerpt|linebreaks }}
{{ item.discussion|linebreaks }}
<p>Last updated {{ item.updated }}</p>

{% if item.tags.all|length > 0 %}
<ul class="content-tags">
    <li>Tags:</li>
    {% for tag in item.tags.all %}
    <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
