{% extends 'base.html' %}

{% block content %}
<div class="content-item">
    <h3 class="created-time">{{ item.created }}</h3>
    <h1><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h1>
    <h2>Reading log for {{ item.book.title }}</h2>
    {% if item.chapter %}<p>Chapter {{ item.chapter }}</p>{% endif %}
    {% if item.page %}<p>Page {{ item.page }}</p>{% endif %}
    {% if item.placename %}<p>{{ item.placename }}</p>{% endif %}

    {{ item.text|linebreaks }}
    <p class="update-time">Last updated {{ item.updated }}</p>

    {% if item.tags.all|length > 0 %}
    <h4>Tags:</h4>
    <ul class="content-tags">
        {% for tag in item.tags.all %}
        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

